a.cart-icon {
    color: white;
    margin-left: 20px;
    margin-right: 30px;
    display: inline-block;
}

.bg-dark {
    background-color: DarkOrange!important;
}

.box-element {
    box-shadow: 0 0 16px hsl(0, 0%, 80%);
    background-color: white;
    border-radius: 4px;
    padding: 10px;
}

.product-box {
    border-radius: 0 0 4px 4px;
}

.price {
    display: inline-block;
    float: right;
}

.col-lg-4 {
    margin-top: 20px;
}

.col-lg-6 {
    margin-top: 20px;
}

.col-lg-12 {
    margin-top: 20px;
}

.quantity {
    display: inline-block;
    vertical-align: top;
    padding-top: 7px;
    height: 30px;
}

.arrow-up {
    width: 20px;
    display: block;
    cursor: pointer;
}

.arrow-down {
    width: 20px;
    display: block;
    cursor: pointer;
    transform: scaleY(-1);
}

.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;
}