{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box-element">
            <a class="btn btn-outline-dark" href="{% url 'products' %}">&#x2190; Continue shopping</a>

            <br>
            <br>

            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>Total: <strong>{{order.get_cart_total|floatformat:2}}</strong></h5></th>
                    <th>
                        <a class="btn btn-success" style="float: right; margin: 5px;" href="#" >Checkout</a>
                    </th>
                </tr>
            </table>
        </div>

        <br>

        <div class="box-element">
            <table class="table">
                <tr>
                    <th><strong>No</strong></th>
                    <th><strong>Item</strong></th>
                    <th><strong>Price</strong></th>
                    <th><strong>Quantity</strong></th>
                    <th><strong>Total</strong></th>
                </tr>
                {% for item in items%}
                <tr>
                    <td>1</td>
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price|floatformat:2}}</td>
                    <td>
                        <div class="quantity">{{item.quantity}}</div>
                        <div style="display: inline-block;">
                            <img class="arrow-up" src="{% static 'images/arrow.png' %}">
                            <img class="arrow-down" src="{% static 'images/arrow.png' %}">
                        </div>
                    </td>
                    <td>{{item.get_total|floatformat:2}} PLN</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock content %}