{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class="box-element product-box">
            <h6><b>{{product.name}}</b></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 class="price">{{product.price|floatformat:2}}PLN</h4>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock content %}