{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="row">
    <div class="col-lg-4">
        <div class="box-element product-box">
            <h6><b>Product</b></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 class="price">1000PLN</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box-element product-box">
            <h6><b>Product</b></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 class="price">1000PLN</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box-element product-box">
            <h6><b>Product</b></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 class="price">1000PLN</h4>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="box-element product-box">
            <h6><b>Product</b></h6>
            <hr>
            <button class="btn btn-outline-secondary">Add to cart</button>
            <a class="btn btn-outline-success" href="#">View</a>
            <h4 class="price">1000PLN</h4>
        </div>
    </div>
</div>

{% endblock content %}